numpy==1.23.4
PyQt5>=5.15.6
pandas>=1.3.5
google-cloud-speech==2.15.1
scipy>=1.9.1
tweepy>=4.10.0
scikit-learn==1.0.2
keras==2.8.0
tqdm==4.64.0
yapsy
pylsl==1.16.0
python-osc==1.8.0
xmltodict==0.13.0
python-dotenv==0.21.0
asyncio
websockets==10.3
flask
flask_socketio
matplotlib
pyttsx3
https://github.com/SynchroniSI/brainflow/releases/download/v0.0.1/brainflow-0.0.1-py3-none-any.whl